## Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*


## Gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
gradle/
.gradle


## Visual Studio Code
.vscode/
.code-workspace

## OS X
.DS_Store